@font-face {
  src: url(fonts/Poppins-Medium.ttf);
  font-family: 'Poppins';
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

#app {
  position: relative;
}

canvas, #user-interface {
  position: absolute;
}

button:hover {
  background: #cef0ea;
}

button:active {
  background: #7c918e;
  color: black;
}
