@font-face {
  src: url(fonts/Poppins-Medium.ttf);
  font-family: 'Poppins';
}

@font-face {
  src: url(fonts/Roboto-Bold.ttf);
  font-family: 'Roboto';
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

canvas, #app {
  display: block;
  margin: auto;

  width: 960px;
  height: 540px;
  background: white;
}

#status-bar {
  font-family: 'Roboto';
  box-sizing: border-box;
  width: 230px;
  height: 540px;
  padding-top: 270px;
  background: #F3EFEC;
  margin-top: -540px;
  position: relative;
  font-size: 32px;
  padding-left: 40px;
  padding-right: 23px;
  color: #444;
}

.status-bar-message {
  transform: translateY(-50%);
}

input, button {
  display: block;
  margin: auto;
  border: none;
  border-radius: 0;
  padding: 5px 10px;
  width: 260px;
  box-sizing: border-box;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

button.pink {
  background: #f4ccc5;
}

button.yellow {
  background: #fdd76b;
}

button:hover {
  background: #cef0ea;
}

button:active {
  background: #7c918e;
  color: black;
}

.notification-container {
  margin-top: -34px;
}

.notification {
  width: 100%;
  background: #333;
  color: white;
  padding: 5px 10px;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  z-index: 999;
  margin-top: -35px;
  width: 960px;
  transition: margin-top 0.2s;
}

.notification.show {
  margin-top: 0;
}
